In [1]:
#case2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('data/HR_data_2.csv')

#print header
print(data.head())

   Unnamed: 0  HR_TD_Mean  HR_TD_Median  HR_TD_std  HR_TD_Min  HR_TD_Max  \
0           0   78.663878         76.70   7.480043      67.25      92.48
1           1   76.540732         76.61   2.584756      69.82      82.33
2           2   78.173563         77.92   2.681255      72.22      82.80
3           3   83.073688         83.88   7.363598      69.42      96.12
4           4   72.281250         72.91   3.193762      64.95      79.98

   HR_TD_AUC  HR_TD_Kurtosis  HR_TD_Skew  HR_TD_Slope_min  ...  upset  \
0  23048.450       -1.091448    0.369955          -0.7300  ...    1.0
1  23959.920       -0.245338    0.338732          -0.3600  ...    2.0
2  20324.605       -0.615922   -0.233047          -0.6300  ...    1.0
3  24924.300       -0.866610   -0.046021          -0.4650  ...    1.0
4  23052.100        0.200401   -0.560948          -0.3725  ...    3.0

   hostile  alert  ashamed  inspired  nervous  attentive  afraid  active  \
0      1.0    2.0      1.0       2.0      2.0        3.0     1.0     2.0
1      1.0    3.0      2.0       2.0      2.0        3.0     1.0     3.0
2      1.0    2.0      1.0       3.0      2.0        3.0     2.0     3.0
3      1.0    2.0      1.0       3.0      2.0        3.0     2.0     3.0
4      1.0    3.0      2.0       3.0      3.0        4.0     2.0     4.0

   determined
0         2.0
1         3.0
2         3.0
3         3.0
4         4.0

[5 rows x 71 columns]

In [4]:
data.columns

Index(['Unnamed: 0', 'HR_TD_Mean', 'HR_TD_Median', 'HR_TD_std', 'HR_TD_Min',
       'HR_TD_Max', 'HR_TD_AUC', 'HR_TD_Kurtosis', 'HR_TD_Skew',
       'HR_TD_Slope_min', 'HR_TD_Slope_max', 'HR_TD_Slope_mean', 'HR_TD_Slope',
       'TEMP_TD_Mean', 'TEMP_TD_Median', 'TEMP_TD_std', 'TEMP_TD_Min',
       'TEMP_TD_Max', 'TEMP_TD_AUC', 'TEMP_TD_Kurtosis', 'TEMP_TD_Skew',
       'TEMP_TD_Slope_min', 'TEMP_TD_Slope_max', 'TEMP_TD_Slope_mean',
       'TEMP_TD_Slope', 'EDA_TD_P_Mean', 'EDA_TD_P_Median', 'EDA_TD_P_std',
       'EDA_TD_P_Min', 'EDA_TD_P_Max', 'EDA_TD_P_AUC', 'EDA_TD_P_Kurtosis',
       'EDA_TD_P_Skew', 'EDA_TD_P_Slope_min', 'EDA_TD_P_Slope_max',
       'EDA_TD_P_Slope_mean', 'EDA_TD_P_Slope', 'EDA_TD_T_Mean',
       'EDA_TD_T_Median', 'EDA_TD_T_std', 'EDA_TD_T_Min', 'EDA_TD_T_Max',
       'EDA_TD_T_AUC', 'EDA_TD_T_Kurtosis', 'EDA_TD_T_Skew',
       'EDA_TD_T_Slope_min', 'EDA_TD_T_Slope_max', 'EDA_TD_T_Slope_mean',
       'EDA_TD_T_Slope', 'EDA_TD_P_Peaks', 'EDA_TD_P_RT', 'EDA_TD_P_ReT',
       'Round', 'Phase', 'Individual', 'Puzzler', 'Frustrated', 'Cohort',
       'upset', 'hostile', 'alert', 'ashamed', 'inspired', 'nervous',
       'attentive', 'afraid', 'active', 'determined'],
      dtype='object')

In [3]:
dir_path = data['raw_data_path'][0]

In [ ]:
hr = pd.read_csv('data/' + dir_path + '/HR.csv', header=0, index_col=0, parse_dates=True)
hr

C:\Users\khali\AppData\Local\Temp\ipykernel_9684\1021979702.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hr = pd.read_csv('data/' + dir_path + '/HR.csv', header=0, index_col=0, parse_dates=True)

        HR                 time
0    71.93  2022-10-26 16:41:36
1    72.23  2022-10-26 16:41:37
2    72.48  2022-10-26 16:41:38
3    72.53  2022-10-26 16:41:39
4    72.60  2022-10-26 16:41:40
..     ...                  ...
289  86.28  2022-10-26 16:46:25
290  86.18  2022-10-26 16:46:26
291  85.97  2022-10-26 16:46:27
292  85.82  2022-10-26 16:46:28
293  85.53  2022-10-26 16:46:29

[294 rows x 2 columns]

In [12]:
import pandas as pd

# Filenames and labels
file_info = {
    "HR": "HR.csv",
    "EDA": "EDA.csv",
    "BVP": "BVP.csv",
    "TEMP": "TEMP.csv"
}

# Store processed dataframes here
processed_dfs = {}

for signal_name, filename in file_info.items():
    print(f"\nProcessing {signal_name} ({filename})")

    # Load and parse time
    df = pd.read_csv('data/' + dir_path + '/'+ filename, parse_dates=["time"])
    
    # Convert to relative time in seconds
    df["t_seconds"] = (df["time"] - df["time"].iloc[0]).dt.total_seconds()
    
    # Drop original time
    df = df.drop(columns=["time"])
    
    # Move t_seconds to the front if preferred
    cols = [col for col in df.columns if col != "t_seconds"]
    df = df[["t_seconds"] + cols]
    
    # Store and display
    processed_dfs[signal_name] = df
    display(df.head())

Processing HR (HR.csv)

   t_seconds  Unnamed: 0     HR
0        0.0           0  71.93
1        1.0           1  72.23
2        2.0           2  72.48
3        3.0           3  72.53
4        4.0           4  72.60

Processing EDA (EDA.csv)

   t_seconds  Unnamed: 0       EDA
0       0.00           0  0.174230
1       0.25           1  0.174230
2       0.50           2  0.171667
3       0.75           3  0.171667
4       1.00           4  0.167824

Processing BVP (BVP.csv)

   t_seconds  Unnamed: 0    BVP
0   0.000000           0 -28.28
1   0.015625           1 -32.82
2   0.031250           2 -37.76
3   0.046875           3 -42.88
4   0.062500           4 -47.66

Processing TEMP (TEMP.csv)

   t_seconds  Unnamed: 0   TEMP
0       0.00           0  31.17
1       0.25           1  31.17
2       0.50           2  31.13
3       0.75           3  31.13
4       1.00           4  31.13

In [ ]:
#join processed dataframes
hr = processed_dfs['HR']
eda = processed_dfs['EDA']
bvp = processed_dfs['BVP']
temp = processed_dfs['TEMP']

#drop unnamed:0
hr = hr.drop(columns=['Unnamed: 0'])
eda = eda.drop(columns=['Unnamed: 0'])
bvp = bvp.drop(columns=['Unnamed: 0'])
temp = temp.drop(columns=['Unnamed: 0'])

#join dataframes
hr_eda = pd.merge(hr, eda, on='t_seconds', how='outer')
hr_eda_bvp = pd.merge(hr_eda, bvp, on='t_seconds', how='outer')
hr_eda_bvp_temp = pd.merge(hr_eda_bvp, temp, on='t_seconds', how='outer')
#rename columns
#interpolate missing values
hr_eda_bvp_temp = hr_eda_bvp_temp.rename(columns={'HR': 'HR', 'EDA': 'EDA', 'BVP': 'BVP', 'TEMP': 'TEMP'})
hr_eda_bvp_temp = hr_eda_bvp_temp.interpolate(method='linear', limit_direction='both')
hr_eda_bvp_temp

        t_seconds         HR       EDA    BVP   TEMP
0        0.000000  71.930000  0.174230 -28.28  31.17
1        0.015625  71.934688  0.174230 -32.82  31.17
2        0.031250  71.939375  0.174230 -37.76  31.17
3        0.046875  71.944063  0.174230 -42.88  31.17
4        0.062500  71.948750  0.174230 -47.66  31.17
...           ...        ...       ...    ...    ...
18850  294.531250  85.530000  0.184478  -0.55  30.59
18851  294.546875  85.530000  0.184478  -1.70  30.59
18852  294.562500  85.530000  0.184478  -2.11  30.59
18853  294.578125  85.530000  0.184478  -1.71  30.59
18854  294.593750  85.530000  0.184478  -0.61  30.59

[18855 rows x 5 columns]

In [17]:
dat_1 = hr_eda_bvp_temp.to_numpy()  # shape: (T, 4)
dat_1 = dat_1[np.newaxis, :, :]

In [19]:
dat_1.shape

(1, 18855, 5)

In [11]:
df.iloc[0]

HR                         71.93
time         2022-10-26 16:41:36
t_seconds                    0.0
Name: 0, dtype: object

In [35]:
import datautils

# Load the ECG200 dataset from UCR archive
train_data, train_labels, test_data, test_labels = datautils.load_UCR('ECG200')

ModuleNotFoundError: No module named 'datautils'

In [22]:
# Example: TS2Vec
from ts2vec import TS2Vec
model = TS2Vec(input_dims=5)
embedding = model.encode(dat_1)  # series shape: [T, D]

NameError: name '_C' is not defined

In [2]:
!pip install ts2vec

Collecting ts2vec
  Downloading ts2vec-0.1-py3-none-any.whl.metadata (53 bytes)
Downloading ts2vec-0.1-py3-none-any.whl (18 kB)
Installing collected packages: ts2vec
Successfully installed ts2vec-0.1